:root {
  --color-primary: #03A9F4;
  --color-primary-dark: #0288D1;
  --color-background: rgb(233, 233, 233);
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--color-background);

  display: flex;
  justify-content: center;
}

.container {
  /* max-width: 1000px; */
  width: auto;
  text-align: center;
  margin: 0 auto;
}

h1,
h2 {
  color: var(--color-primary-dark);
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav a {
  text-decoration: none;
  color: var(--color-primary);
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;

  text-align: center;
}

.nav li {
  margin: 10px;
  cursor: pointer;
}

.nav li:hover {
  color: var(--color-primary-dark);
  font-weight: bold;
  transition: 0.2s ease;
}

.active {
  font-weight: bold;
}

@media (max-width: 600px) {
  .nav {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}

.chart-container {
  border: 1px solid var(--color-primary-dark);
}

/* Choropleth map */

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

/* Treemap diagram */

svg {
  font: 10px sans-serif;
  text-align: center;
  display: block;
  margin: auto;
}

.tile-text {
  cursor: default;
}

#title {
  font-size: 45px;
  margin-bottom: 10px;
}

#description {
  padding-bottom: 1.5rem;
}

div.tooltip {
  position: absolute;
  padding: 10px;
  font: 12px Arial;
  background: rgba(255, 255, 204, 0.95);
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.6);
  border: 0px;
  border-radius: 2px;
  pointer-events: none;
}

#legend {
  font-size: 15px;
  text-align: center;
  display: block;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
